body {
    background-color: #ffc1cc;
    font-family: 'Courier New', monospace;
    font-size: 15px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid red;
}

input[type="text"],
textarea {
    background-color: #ffc1cc;
}

#input_div {
    display: flex;
    justify-content: left;
    /* margin-top: 550px; */
    margin-left: 40px;
}


#chat {
    display: flex;
    flex-direction: column;
    /* justify-content: left;
    bottom: 0;
    position: absolute;
    margin-left: 40px; */
}
.chat {
    margin-top: auto;
}

#username {
    width: 150px;
}
#message {
    width: 550px;
}

#pink_dude {
    width: 30px;
    height: 32px;
    background-image: url(./Pink_Monster_Attack2_6.png);
    animation: sprite 1s steps(6) infinite;
}

@keyframes sprite {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: -194px;
    }
}