body {
  background-color: #ffc1cc;
  /* font-family: "Source Code Pro", "Monaco", "Menlo", "Courier New", monospace; */
  font-family: "Trebuchet MS";
  font-size: 15px;
}

#popup-overlay {
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background-color: #ffc1cc;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  border: none;
  /* border-bottom: 2px solid red; */
}

input[type="text"],
textarea {
  background-color: #ffc1cc;
}

#username {
  width: 150px;
}
#message {
  width: 550px;
  height: 50px;
}

/* #pink_dude_1 {
  width: 30px;
  height: 32px;
  display: block;
  background-image: url(./Pink_Monster_Attack2_6.png);
  animation: sprite 1s steps(6) infinite;
}
#pink_dude_2 {
  width: 30px;
  height: 32px;
  display: block;
  background-image: url(./Pink_Monster_Attack2_6.png);
  transform: rotateY(180deg);
  animation: sprite 1s steps(6) infinite;
} */
::placeholder {
  /* font-family: "Source Code Pro", "Monaco", "Menlo", "Courier New", monospace; */
  font-family: "Trebuchet MS";
  font-size: 15px;
}
@keyframes sprite {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -194px;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.window-controls {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  height: 25px;
  background-color: #f1f1f1;
}

.minimize {
  background-color: var(--app-color);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"> <line x1="7" y1="30" x2="27" y2="30" style="stroke:rgb(61,45,51);stroke-width:7" /> </svg>');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.fullscreen {
  background-color: var(--app-color);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"> <rect width="30" height="30" x="10" y="10" style="fill:rgb(254,227,227);stroke-width:3;stroke:rgb(61,45,51)" /> <line x1="9" y1="14" x2="41" y2="14" style="stroke:rgb(61,45,51);stroke-width:7" /> </svg>');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.close {
  background-color: var(--app-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40px' height='40px' viewbox='0 0 40 40'%3E%3Cpath d='M 10,10 L 30,30 M 30,10 L 10,30' stroke='rgb(61,45,51)' stroke-width='5' stroke-linecap='butt' /%3E%3C/svg%3E");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 29px;
  background-color: #4a00f7;
}

.chat-title {
  padding: 0 10px;
  font-size: 15px;
}

#chat-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  justify-content: space-between;
  /* height: 600px; */
  width: 770px;
  background-color: aliceblue;
  border: 5px solid #4a00f7;
}

#messages {
  padding: 10px;
  max-height: 430px;
  min-height: 430px;
  overflow: scroll;
}

#message-controls {
  height: 85px;
  border-top: 5px solid #4a00f7;
}
