[Unit]
Description=Small Talk - Directory Service
Wants=network-online.target
After=network-online.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/small-talk/apps/directory
ExecStart=/home/ubuntu/small-talk/apps/directory/directory
EnvironmentFile=/home/ubuntu/small-talk/apps/directory/directory.env
Restart=always
RestartSec=3
KillSignal=SIGINT
TimeoutStopSec=20
AmbientCapabilities=
NoNewPrivileges=true

SyslogIdentifier=small-talk-directory

[Install]
WantedBy=multi-user.target

