#login-overlay {
  background-color: #ffc1cc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* position: fixed; */
  width: 100%;
  height: 100%;
}

#login-container {
  background-color: var(--deep-purple);
  border-radius: 5px;
  box-shadow: inset 1px 4px 8px rgba(255, 255, 255, 0.3),
    0 2px 4px rgba(0, 0, 0, 0.2);
  width: 350px;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 26px;
  background-color: var(--deep-purple);
  color: white;
  padding: 5px 0px;
  font-weight: bold;
  box-shadow: inset 1px 4px 8px rgba(255, 255, 255, 0.3),
    0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0 0;
}

.login-title {
  margin-left: 7px;
  color: white;
  font-weight: bold;
}

.login-body {
  background: white;
  padding: 30px 20px;
  text-align: center;
  margin: 5px;
}

.input-group {
  width: calc(80% + 20px);
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
}

.form-label {
  text-align: left;
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

.form-input:focus {
  outline: none;
  border-color: var(--deep-purple);
  box-shadow: 0 0 0 2px rgba(74, 0, 247, 0.2);
}


#login-container input {
  border: 1.4px solid var(--deep-purple);
  width: 100%;
  height: 25px;
}

.icon {
  display: flex;
  justify-content: center;
}

.icon img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}


.register-link {
  margin-top: 10px;
  font-size: 12px;
  color: var(--deep-purple);
}

.register-link a {
  color: var(--deep-purple);
}