#rooms-container {
  display: flex;
  flex-direction: column;
  background-color: var(--deep-purple);

}
.rooms-body {
  background: white;
  padding: 30px 20px;
  text-align: center;
  margin: 0px 5px 5px;
  display: flex;
  flex-direction: column;
}

.welcome {
  margin-bottom: 20px;
}

.welcome p {
  margin: 8px 0;
  font-size: 14px;
  color: #333;
}

.welcome p:first-child {
  font-weight: bold;
  font-size: 16px;
  color: var(--deep-purple);
}

.rooms-list {
  font-family: inherit;
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.room-item a {
  display: block;
  width: 100%;
  font-family: inherit;
  color: black;
  border: none;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}
