#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 770px;
  background-color: aliceblue;
  border: 5px solid var(--deep-purple);
  border-radius: 6px;
  color: black;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21px;
  background-color: var(--deep-purple);
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}

.chat-menu {
  display: flex;
  gap: 10px;
  height: 36px;
  border-bottom: 1px solid grey;
}

.menu-button {
  color: black;
  border: none;
  cursor: pointer;
}

#leave-room {
  background-image: url("../assets/leave.png");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

#change-username {
  background-image: url("../assets/edit.png");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

#messages {
  padding: 10px;
  max-height: 430px;
  min-height: 430px;
  overflow-y: auto;
}

#messages p {
  margin: 2px 0;
  padding: 2px;
  /* background: rgba(255, 255, 255, 0.5);
  border-radius: 5px; */
}

#message-controls {
  display: flex;
  flex-direction: column;
  border-top: 5px solid var(--deep-purple);
  padding: 10px;
}

#message-controls input[type="text"] {
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#send-message {
  width: 100px;
  background-color: var(--deep-purple);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}

#send-message:hover {
  background-color: #3600b7;
}
