#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 770px; */
  background-color: white;
  /* border: 5px solid var(--deep-purple); */
  border-top: none;
  border-radius: 6px;
  color: black;
}

.chat-room {
  background-color: var(--deep-purple);
  border-radius: 5px 5px 5px 5px;
  box-shadow: inset 1px 4px 8px rgba(255, 255, 255, 0.3),
    0 2px 4px rgba(0, 0, 0, 0.2);
}

.chat-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  height: 26px;
  background-color: var(--deep-purple);
  color: white;
  padding: 5px 0px;
  font-weight: bold;
  box-shadow: inset 1px 4px 8px rgba(255, 255, 255, 0.3),
    0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0 0;
}

.chat-name {
  margin-left: 7px;
}

.header-controls {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 25px);
  height: 25px;
  margin-right: 7px;
}

.header-controls button {
  cursor: pointer;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 0.5px solid white;
}

.header-controls button:focus {
  outline: none;
}

.header-controls button:hover {
  outline: none;
}

.minimize {
  background: linear-gradient(
    to bottom,
    rgba(74, 0, 247, 1) 47%,
    rgba(120, 44, 255, 1) 75%
  );
  box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.6),
    0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"> <rect width="40" height="40" fill="none"/> <line x1="7" y1="30" x2="27" y2="30" style="stroke:white;stroke-width:7" /> </svg>');
}

.minimize:active {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.4);
}

.fullscreen {
  background: linear-gradient(
    to bottom,
    rgba(74, 0, 247, 1) 47%,
    rgba(120, 44, 255, 1) 75%
  );
  box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.6),
    0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"> <rect width="30" height="30" x="10" y="10" style="fill:rgb(74, 0, 247);stroke-width:3;stroke:white" /> <line x1="9" y1="14" x2="41" y2="14" style="stroke:white;stroke-width:7" /> </svg>');
}

.fullscreen ::before {
  content: "";
  width: 100%;
  height: 100%;
  /* background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"> <rect width="30" height="30" x="10" y="10" style="fill:rgb(74, 0, 247);stroke-width:3;stroke:white" /> <line x1="9" y1="14" x2="41" y2="14" style="stroke:white;stroke-width:7" /> </svg>'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.fullscreen:active {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.4);
}

.close {
  background: linear-gradient(
    to bottom,
    rgba(199, 1, 149, 1) 0%,
    rgba(247, 37, 133, 1) 35%,
    rgba(247, 88, 88, 1) 100%
  );
  box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.6),
    0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40px' height='40px' viewBox='0 0 40 40'%3E%3Cdefs%3E%3Cfilter id='shadow' x='-50%' y='-50%' width='200%' height='200%'%3E%3CfeDropShadow dx='2' dy='2' stdDeviation='2' flood-color='black' flood-opacity='0.3' /%3E%3C/filter%3E %3C/defs%3E%3Cpath d='M 10,10 L 30,30 M 30,10 L 10,30' stroke='white' stroke-width='5' stroke-linecap='butt' filter='url(%23shadow)' /%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.close:active {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.4);
}
.chat-menu {
  display: flex;
  gap: 10px;
  height: 36px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  border-bottom: 1px solid grey;
}

.menu-button {
  width: 36px;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

#leave-room {
  background-image: url("../assets/leave.png");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

#change-username {
  background-image: url("../assets/edit.png");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

#messages {
  margin: 0px 5px 5px 5px;
  background-color: white;
  padding: 10px;
  max-height: 430px;
  min-height: 430px;
  overflow-y: auto;
}

#messages p {
  margin: 2px 0;
  padding: 2px;
}

#message-controls {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 5px 5px;
  /* border-top: 5px solid var(--deep-purple); */
  background-color: white;
  padding: 10px;
}

#message-controls input[type="text"] {
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#send-message {
  width: 100px;
  background-color: var(--deep-purple);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}

#send-message:hover {
  background-color: #3600b7;
}
