#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 770px;
  background-color: aliceblue;
  border: 5px solid var(--deep-purple);
  color: black;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 29px;
  background-color: var(--deep-purple);
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}

.header-controls {
  display: flex;
  gap: 10px;
}

#messages {
  padding: 10px;
  max-height: 430px;
  min-height: 430px;
  overflow-y: auto;
}

#messages p {
  margin: 2px 0;
  padding: 2px;
  /* background: rgba(255, 255, 255, 0.5);
  border-radius: 5px; */
}

#message-controls {
  display: flex;
  flex-direction: column;
  border-top: 5px solid var(--deep-purple);
  padding: 10px;
}

#message-controls input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#send-message {
  background-color: var(--deep-purple);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
}

#send-message:hover {
  background-color: #3600b7;
}
